<main>
  <div
    class="header text-xl h-28 w-full bg-gradient-to-t from-transparent from-0% via-neutral-200 to-neutral-300 to-100%"
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    "
  >
    <span class="relative top-2 left-4">
      <div class="">FIND YOUR NEW CAR!</div>
      <div class="list-type">
        <p-selectButton
          [styleClass]="'py-1'"
          [options]="stateOptions"
          [(ngModel)]="stateSelected"
          optionLabel="label"
          optionValue="value"
        />
      </div>
    </span>
  </div>
  <span *ngIf="stateSelected == 'gallery'">
    <div class="w-full text-center">
      <label for="car-select">Select brand:</label>
      <select
        #brandSelect
        name="car-names"
        id="car-select"
        class="border-2 text-center ml-2"
        (change)="optChange($event)"
      >
        <option *ngFor="let opt of getOptions()" [value]="opt">
          {{ opt }}
        </option>
      </select>
      <span
        (click)="refresh(brandSelect.selectedIndex)"
        class="ml-2 cursor-pointer pi pi-sync {{
          refreshAvailable ? '' : 'rotate pointer-events-none'
        }}"
      ></span>
    </div>
    <div
      *ngFor="let name of getNames()"
      class="mx-auto"
      style="width: min(95vw, 1080px)"
    >
      <p class="border-b-2 border-neutral-200 mb-2 mt-4 text-lg font-bold">
        {{ name }}
      </p>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 items-center"
      >
        <div *ngFor="let car of filterItems(name)" class="border-2 mt-2">
          <p
            class="font-bold text-sm px-1 whitespace-nowrap overflow-hidden overflow-ellipsis pt-1"
          >
            {{ car.make + " " + car.model }}
          </p>
          <p class="text-xs px-1 pb-1">
            {{
              car.price == 0
                ? "b/d"
                : "From " + car.price.toLocaleString() + " PLN"
            }}
          </p>
          <a [href]="getGoogleLink(car)" target="_blank">
            <div
              class="h-32"
              [style.backgroundImage]="
                'url(' +
                (car.image == '' ? '../assets/car-error.png' : car.image) +
                ')'
              "
              style="background-position: center; background-size: cover"
            ></div>
          </a>
          <a [href]="car.link" target="_blank"
            ><p
              class="w-full border-2 px-2 py-1 text-white font-bold text-center"
              style="background-color: rgb(255, 82, 82)"
            >
              More
            </p></a
          >
        </div>
      </div>
    </div>
  </span>
  <span *ngIf="stateSelected == 'list'">
    <div class="flex items-center">
      <p class="ml-2">Ilość samochodów: {{ scrappedUi.length }}</p>

      <p *ngIf="!refreshAvailable">Zaczekaj, synchronizujemy dane</p>
    </div>
    <div class="flex flex-col">
      <div
        class="font-bold text-black car-item w-full border-b-2 border-black pb-2"
      >
        <p>Image</p>
        <p>
          Make
          <select
            #makeSelect
            class="text-center border-2 border-black {{
              refreshAvailable ? '' : 'pointer-events-none'
            }}"
            [selectedIndex]="selectedIndex"
            (change)="optChange($event)"
          >
            <option *ngFor="let opt of getOptions()">{{ opt }}</option>
          </select>
          <span
            [style.display]="refreshAvailable ? '' : 'none'"
            (click)="refresh(makeSelect.selectedIndex)"
            class="ml-2 cursor-pointer pi pi-sync"
          ></span>
        </p>
        <p>Model</p>
        <p (click)="togglePriceSorting()" class="cursor-pointer">
          Price
          <i class="pi pi-chevron-{{ sortIcon }}"></i>
        </p>
        <p>Link</p>
      </div>
      <div
        class="car-item border-b-2 border-neutral-100"
        *ngFor="let item of scrappedUi"
      >
        <div>
          <a
            [href]="getGoogleLink(item)"
            target="_blank"
            class="cursor-pointer"
          >
            <img
              class="cursor-pointer mx-auto my-2"
              [src]="item.image == '' ? '../assets/car-error.png' : item.image"
              onerror="this.src = '../assets/car-error.png'"
            />
          </a>
        </div>
        <p>{{ item.make }}</p>
        <p [innerHTML]="item.model"></p>
        <p>
          {{
            item.price == 0
              ? "b/d"
              : "From " + item.price.toLocaleString() + " PLN"
          }}
        </p>
        <p>
          <a [href]="item.link" target="_blank" class="text-blue-500 underline"
            >Visit {{ item.make }}.pl</a
          >
        </p>
      </div>
    </div>
  </span>
</main>
